body {
    width: 100%;
    height: 100%;
    background-image: url("golden-retriever.jpg");
  }

#titleBox {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: auto;
    background: rgba(0,0,0,.1);
  
  }

.tit { 
    font-family: Sofia; 
    color: #85144b; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #F012BE,
             2px 2px 1px #F012BE;
} 

#topBox {
    position: relative;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 10vh;
    border: 2px solid darkblue; 
    background-color: hsl(240, 60%, 70%)

}

#home {
    position: absolute;
    top: 20%;
    bottom: 0%;
    left: 20%;
    right: 0;
}

#about {
    position: absolute;
    top: 20%;
    bottom: 0%;
    left: 80%;
    right: 0%;
}

#middleBox {
    position: relative;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 100px;
    border: 2px solid darkgreen;
    background-color: hsl(76, 78%, 45%);	
}

input {
    width: 70%;
  }

#text-field {
    position: absolute;
    top: 20%;
    bottom: 0%;
    left: 20%;
    right: 0;
}

#bottomBox {
    position: relative;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: auto;
    border: 2px solid purple;
    background-color:hsl(300, 60%, 65%)
} 

.addButton {
    background-color: #4CAF50;
    border: 2px solid white; 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 40px;
    cursor: pointer;
  }

.clearButton {
    background-color: #4CAF50;
    border: 2px solid white; 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 0px;
    cursor: pointer;
  }


