body {
    width: 100%;
    height: 100%;
    background-image: url("golden-retriever.jpg");
  }

#titleBox {
    margin: auto;
    width: 90%;
    height: auto;
    background: rgba(0,0,0,.1);
  
  }

.tit { 
    font-family: Sofia; 
    color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #F012BE,
             2px 2px 1px #F012BE;
} 


#topBox {
    margin: auto;
    width: 90%;
    height: 3rem;
    background: rgba(0,0,0,0);
    display: flex;

}

.push {
  margin-left: auto;
}


.btn1 {
  background-color:  rgba(0,0,0,.3);;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn1:hover {
  background-color: rgba(0,0,0,.6);;
}

.btn2 {
  background-color:  rgba(0,0,0,.3);
  justify-content: flex-end;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn2:hover {
  background-color: rgba(0,0,0,.6);;
}

#middleBox {
    position: relative;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 8rem;	
    background-color: rgba(0,0,0,.3);
}

label {
  font-family: Roboto;
  color: white; 
  font-size: 20px;
 }

input {
    width: 70%;
  }

#text-field {
    position: absolute;
    top: 20%;
    bottom: 0%;
    left: 20%;
    right: 0;
}

#my-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white; 
  font-size: 16px;
}

#bottomBox {
    position: relative;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: auto;
    background-color: rgba(0,0,0,.8);
} 

.addButton {
    background-color: rgba(0,0,0,.3);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 40px;
    cursor: pointer;
  }

  .addButton:hover {
    background-color: rgba(0,0,0,.6);;
  }

.clearButton {
    background-color: rgba(0,0,0,.3); 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 0px;
    cursor: pointer;
  }

  .clearButton:hover {
    background-color: rgba(0,0,0,.6);;
  }

  .showListButton {
    background-color: rgba(0,0,0,.1);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 40px;
    cursor: pointer;
  }

  .showListButton:hover {
    background-color: rgba(0,0,0,.6);;
  }

.hideListButton {
    background-color: rgba(0,0,0,.1); 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 0px;
    cursor: pointer;
  }

  .hideListButton:hover {
    background-color: rgba(0,0,0,.6);;
  }


